* {
	box-sizing: border-box;
	margin: 0px;
}
div {
	background-color: grey;
}
.chicken {
	background-color: pink;
	border-color: solid black;
}
.beef {
	background-color: red;
	border-color: solid black;
}
.sushi {
	background-color: yellow;
	border-color: solid black;
}
.col-lg-3 {
	width: 33.33%;
}
