* {
	box-sizing: border-box;
	margin: 0px;
}
section {
	background-color: grey;
	position: relative;
}
.chicken {
	background-color: pink;
	border-color: solid black;
	width: 50px;
	position: absolute;
	top: 0px;
	right: 0px;
}
.beef {
	background-color: red;
	border-color: solid black;
	width: 50px;
	position: absolute;
	top: 0px;
	right: 0px;
}
.sushi {
	background-color: yellow;
	border-color: solid black;
	width: 50px;
	position: absolute;
	top: 0px;
	right: 0px;
}
.col-lg-3 {
	width: 33.33%;
}
